<!DOCTYPE html>
<html ng-app="raceResume">
<head>
	<title>Michael Svendsen - Race Resume</title>

	<script src="js/angular.min.js"></script>
	<script src="js/controller.js"></script>

</head>
<body ng-controller="raceCtrl">

	<table>
		<caption>2015</caption>
		<thead>
			<tr>
				<th>Date</th>
				<th>Race</th>
				<th>Place</th>
				<th>Total Started</th>
				<th>Time</th>
				<th>Speed KM/H</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="race in races2015">
				<td>{{race.date}}</td>
				<td>{{race.title}}</td>
				<td>{{race.place}}</td>
				<td>{{race.started}}</td>
				<td>{{race.time}}</td>
				<td>{{race.speed}}</td>
			</tr>
		</tbody>
	</table>

</body>
</html>